/*WARIABLE*/

:root {
  --main-color: #2196f3;
  --background-color: #2F303A;
  --nav-color: #757575;
}

* {
  font-style: normal;
}

/*body section*/

body {
  font-family: Roboto, Raleway, Montserrat, sans-serif;
  font-size: 14px;
  margin: 0px auto;
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
  padding: 0px;
  height: 2349px;
  border: none;
}

/*container*/

.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 1200px;
}

/*HEADER*/

.headerline {
  border-bottom: 1px solid #ECECEC;
}

.logo-text {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-decoration: none;
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.text-studio-black {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 0px;
  margin: 0px;
  margin-right: 93px;
}

/*Menu section*/

.link-menu {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin: 0px;
}

.link-studio {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.link-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.link-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 331px;
}

.text-link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.text-link.current {
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

/*nav-list*/

.nav-list-link {
  display: flex;
  width: 307px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-mail {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--nav-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  margin-right: 50px;
}

.nav-tel {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--nav-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
}

.mail-text:hover, .mail-text:focus {
  color: var(--main-color);
}

.nav-mail:hover, .nav-item:focus {
  color: var(--main-color);
}

/*Main section*/

.main-content {
  background: #2F303A;
  padding: 200px 0px;
  margin: 0px;
}

.main-content-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 0px;
  width: 696px;
  height: 120px;
  margin: 0px auto;
}

/*Button section*/

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--main-color);
  border: 0px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 0px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*features section*/

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item-list {
  list-style-type: none;
  display: flex;
  margin: 0px;
  align-items: stretch;
  justify-content: space-between;
  width: 1170px;
}

.features-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  padding: 0px;
}

.features-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

/*Activity section*/

.heroes-workspace-section {
  padding-bottom: 94px;
}

.heroes-workspace {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  border: none;
  justify-content: space-between;
  width: 1170px;
  flex-direction: row;
}

.activity {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  margin: 0px;
  margin-bottom: 50px;
}

/* Our team*/

.our-team-section {
  background-color: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.heroes-list {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  width: 1170px;
}

.heroes-item {
  width: 370px;
  height: 294px;
}

.name-hero {
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 59px;
  white-space: nowrap;
}

.proffesion-hero {
  padding-bottom: 30px;
  margin-top: 10px;
  white-space: nowrap;
  padding-left: 70px;
  padding-right: 70px;
}

.name-hero-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.proffesion-hero-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.img-item {
  display: block;
  width: 270px;
  height: 260px;
}

.heroes-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  width: 270px;
  height: 368px;
  margin: 0px;
  padding-left: 0px;
}

/*Footer*/

.footer-section {
  background-color: #2F303A;
  margin: 0px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.text-studio-white {
  color: #fff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 0px;
}

.adress-list {
  display: flex;
  flex-direction: column;
}

.adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.mail-link-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 0px;
  margin-bottom: 9px;
}

.tell-link-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.mail-link-footer:hover, .mail-link-footer:focus {
  color: var(--main-color);
}

.tell-link-footer:hover, .tell-link-footer:focus {
  color: var(--main-color);
}

/*buttons in portfolio*/

.buttons {
  background-color: #F5F4FA;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  width: auto;
  height: 38px;
  white-space: nowrap;
}

.buttons-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;
}

.buttons:hover {
  background: var(--main-color);
  color: #fff;
}

/*portfolio box-list*/

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.box-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-right: -30px;
  padding: 0px;
  width: 1200px;
  justify-content: space-between;
}

.box-list li:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.box-item {
  flex-basis: calc((100% - 3 * 60px) / 3);
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  white-space: nowrap;
  width: 370px;
  height: 404px;
}

.box-item:hover, .box-item:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*.box-list li:nth-child(3n+3) {
  margin-right: 30px;
} */

.name-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: start;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.service-name {
  padding: 20px 24px 0px 24px;
  margin-bottom: 4px;
}

.description {
  padding: 0px 24px 20px 24px;
}